@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Monospace";
    src: url(../fonts/Monospace.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Monospace";
    src: url(../fonts/MonospaceBold.ttf);
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    height: 100%;
    width: 100%;
    letter-spacing: 0;
    font-family: "Inter", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Monospace";
}


.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 25px;
}












.site-head {
    width: 100%;
    /* position: fixed; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 26px 0px;
    background: #2C2C2C;
    border-bottom: 1px solid #96BF48;
    margin: 0 auto;
    z-index: 5;
}


.header-row {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    gap: 20px;
}

.header-data p,
.header-data a {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    font-weight: 500;
}

.header-logo {
    width: 100%;
}

.header-logo a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.header-logo a img {
    width: 100%;
    display: block;
    object-fit: contain;
    max-width: 280px;
}

.header-toggle button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: all 0.2s;
}

.header-toggle button svg path {
    transition: all 0.2s;
}

.header-toggle button:active svg path {
    d: path("M 0.5027 1.66675 H 13.3334 H 28.3334 M 28.3334 18.3334 H 23.3334 H 1.66675 M 1.66675 10.0001 H 28.3334");
}

.header-toggle button:active {
    transform: scale(0.9);
}













.mm-main {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 70px 60px;
    background-image: url(../images/sq-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.mm-main .container {
    padding: 0;
    max-width: 100%;
}

.mm-main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    aspect-ratio: 720/129;
    background-image: url(../images/mm-shade.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    pointer-events: none;
}

.mm-main::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    aspect-ratio: 720/129;
    background-image: url(../images/mm-shade.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    pointer-events: none;
    transition: 1s;
    transform: scale(-1);
}

.mm-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 30px;
    height: 100%;
}

.mm-c1 h3 {
    font-size: 38px;
    font-weight: 700;
    color: #648C3C;
    letter-spacing: -0.5px;
    line-height: 50px;
    margin-bottom: 40px;
    width: fit-content;
}

.mm-c1 ul {
    display: grid;
    gap: 24px;
}

.mm-c1 ul li a {
    font-size: 25px;
    color: #2C2C2C;
    transition: all 0.3s;
    letter-spacing: -0.5px;
    display: flex;
    position: relative;
    gap: 0px;
    align-items: center;
    max-width: 500px;
}

.mm-c1 ul li a::before {
    content: "";
    display: block;
    width: 0px;
    aspect-ratio: 17/22;
    background-image: url(../images/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s;
}

.mm-c1 ul li a:hover {
    gap: 20px;
    font-weight: 500;
}

.mm-c1 ul li a:hover::before {
    width: 23px;
}

.mm-c2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

ul.mm-socials {
    display: grid;
    gap: 24px;
}

ul.mm-socials li a {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
    font-size: 20px;
    color: hsl(0deg 0% 17.25% / 87%);
    transition: all 0.3s;
    letter-spacing: -0.3px;
    position: relative;
}

ul.mm-socials li a:hover {
    letter-spacing: 0.7px;
    color: hsl(0deg 0% 17.25% / 100%);
    font-weight: 500;
}

ul.mm-socials li a img {
    display: block;
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.mm-close {
    position: absolute;
    top: 70px;
    right: 70px;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1;
    cursor: pointer;
}

.mm-close span {
    font-size: 18px;
    color: hsl(0deg 0% 17.25% / 87%);
    transition: all 0.3s;
    letter-spacing: -0.1px;
    position: relative;
}

.mm-close svg {
    width: 32px;
    height: 32px;
    display: block;
    transition: all 0.3s;
}

.mm-close:hover span {
    font-weight: 500;
}



















/* Banner */

.banner-sec {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 140px 0px 260px;
    margin-bottom: -46px;
}

.banner-sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 86.3%;
    margin: 0 auto;
    aspect-ratio: 1264/450;
    z-index: 10;
    background-image: url(../images/bn-shadow.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    pointer-events: none;
}

.bn-particles {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    background: #2C2C2C;
    mask-image: url(../images/bn-shape.svg);
    mask-repeat: no-repeat;
    mask-position: bottom center;
    mask-size: cover;
    -webkit-mask-image: url(../images/bn-shape.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    -webkit-mask-size: cover;
}

div#particles-js canvas {
    width: 100%;
    height: 100% !important;
}

.banner-sec .container {
    pointer-events: none;
}

.banner-cntnt {
    width: 100%;
}

.banner-cntnt>img {
    width: 100%;
    display: block;
    object-fit: contain;
    max-width: 365px;
    margin: 0 auto 40px;
}

.banner-cntnt h1 {
    font-size: 72px;
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: uppercase;
    max-width: 1110px;
    margin: 0 auto 16px;
    color: #fff;
    line-height: 90px;
}

.banner-cntnt h1 span {
    color: #96BF48;
    font-weight: 500;
}

.banner-cntnt p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: 0.3px;
}

.site-btn {
    display: block;
    width: fit-content;
    border: none;
    outline: none;
    padding: 20px 40px;
    background: #96BF48;
    border-radius: 40px;
    text-transform: capitalize;
    font-family: "Monospace";
    font-size: 20px;
    color: #fff;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    transition: all 0.3s;
}

.banner-cntnt .site-btn {
    margin: 40px auto 0px;
    pointer-events: all;
}

.site-btn:hover {
    background: #729c21;
}

.banner-sec::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -1%;
    width: 100%;
    height: 100%;
    background: #96BF48;
    z-index: -1;
    mask-image: url(../images/bn-shape.svg);
    mask-repeat: no-repeat;
    mask-position: bottom center;
    mask-size: cover;
    -webkit-mask-image: url(../images/bn-shape.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    -webkit-mask-size: cover;
    transform: rotate(-1deg);
}














































/* Ammar's Css */

/* About */

.about-sec {
    width: 100%;
    padding: 160px 0 120px 0;
    background-image: url(../images/sq-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -60px;
}

.about-md {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.about-md .md-left {
    max-width: 525px;
}

.about-md .md-left h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

.about-md .md-left h1 span {
    font-weight: 500;
    color: #648C3C;
}

.about-md .md-right {
    max-width: 565px;
}

.about-md .md-right .site-btn {
    margin-top: 40px;
}

.about-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.about-bottom .circle-box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #2C2C2C33;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all .4s ease;
    margin-left: -24px;
}

.about-bottom .circle-box:first-child {
    margin-left: 0;
}

.about-bottom .circle-box span {
    transition: all .4s ease;
}

.about-bottom .circle-box span img {
    width: 80px;
    height: 80px;
    transition: all .4s ease;
    filter: grayscale(1);
}

.about-bottom .circle-box:hover span img {
    filter: grayscale(0);
}

.about-bottom .circle-box h6 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C5C;
    transition: color .4s ease;
    max-width: 192px;
    transition: color .4s ease;
}

.about-bottom .circle-box:hover {
    background-color: #FFFF8D33;
    border: 1px solid #F4B400;
}


.about-bottom .circle-box:hover h6 {
    color: #2C2C2C;
}

.about-bottom .shopify:hover {
    background-color: #95C67533;
    border: 1px solid #95C675;
}

.about-bottom .store:hover {
    background-color: #FF9F9F14;
    border: 1px solid #FF3131;
}

.about-bottom .custom:hover {
    background-color: #9AC3F933;
    border: 1px solid #2F88FF;
}

/* Service */

.services-sec {
    width: 100%;
    padding: 70px 0 80px 0;
    background-image: url(../images/Services-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.serv-top-cntn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serv-top-cntn .title h2 {
    color: #FFFFFF;
}

.serv-top-cntn .disc {
    color: #FFFFFFDE;
}

.serv-bottom {
    margin-top: 80px;
}

.serv-bottom .serv-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 50px;
    background: #2C2C2C;
    border-top: 1px solid #FFFFFF1F;
    border-radius: 6px;
    margin-top: -50px;
    transition: all .4s ease;
    position: relative;
    z-index: 1;
}

.serv-bottom .serv-box:hover {
    transition: transform 0.4s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    transform: scale(1.005);
    z-index: 2;
}

.serv-bottom .serv-box:first-child {
    margin-top: 0;
}

.serv-bottom .serv-box h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: 500;
    line-height: 96px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    transition: color .4s ease;
    width: 333px;
}

.serv-bottom .serv-box p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFFDE;
    max-width: 339px;
    transition: color .4s ease;
}

.serv-bottom .serv-box span {
    width: 48px;
    height: 48px;
    border: 1px solid #FFFFFF1F;
    background-color: #FFFFFF1F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .4s ease;
}

.serv-bottom .serv-box span img {
    width: 32px;
    height: 32px;
    object-position: center;
    object-fit: contain;
    transition: opacity .4s ease;
}

.serv-bottom .serv-box:not(:hover) span img {
    filter: brightness(0) invert(1);
}

.serv-bottom .serv-box:hover {
    background-color: #454545;
    border-top: 1px solid #FFFFFF1F
}

.serv-bottom .serv-box:hover h1 {
    color: #96BF48;
}

.serv-bottom .serv-box:hover p {
    color: #FFFFFF;
}

.serv-bottom .serv-box:hover span {
    background-color: #FFFFFF;
}

/* Portfolio */

.portfolio-sec {
    width: 100%;
    padding: 70px 0 0 0;
    margin-bottom: -160px;
    background-image: url(../images/feature-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.portfolio-sec .pf-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-sec .pf-top .pf-lf {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 60%;
}

.portfolio-sec .pf-bottom {
    margin-top: 40px;
}

.portfolio-sec .pf-bottom .pf-bottom-box {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 4px 4px 16px 0px #3D51633D;
    background-color: #3D5163;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 20px;
}

.portfolio-sec .pf-bottom .pf-bottom-box::after {
    content: '';
    background-image: url(../images/pf-img-1.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 444px;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
}

.box-text {
    padding: 40px 48px 50px 40px;
    max-width: 786px;
}

.box-text h3 {
    font-family: Inter;
    font-size: 44px;
    font-style: italic;
    font-weight: 600;
    line-height: 61.6px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.box-text p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFFDE;
    padding: 40px 0;
}

.box-text a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.025em;
    text-align: left;
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    color: #FFFFFF;
}

.ex-boxes {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 24px;
}

.ex-boxes .box {
    width: 100%;
    max-width: 420px;
    background-color: #8EA7FF;
    box-shadow: 4px 4px 16px 0px #8EA7FF3D;
    border-radius: 16px;
}

.ex-boxes .grad-box {
    background: linear-gradient(to bottom, rgba(255, 93, 43, 0.9) 10%, rgba(155, 155, 155, 0.7)100%);
}

.ex-boxes .box .box-text {
    padding: 40px 30px 45px 40px;
}

.ex-boxes .box .box-text h3 {
    color: #162120;
}

.ex-boxes .grad-box .box-text .site-title img {
    width: 100%;
    max-width: 170px;
    height: 100%;
}

.ex-boxes .box .box-text p {
    color: #162120;
}

.ex-boxes .box .box-text a {
    color: #162120;
}

.box-2 {
    width: 100%;
    max-width: 857px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 4px 4px 16px 0px #96BF483D;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.box-2 .box-img {
    width: 440px;
    height: 100%;
}

.box-2 .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-2 .box-text {
    padding: 40px 27px 45px 40px;
}

.ex-boxes .box-2 .box-text {
    max-width: 417px !important;
}

.ex-boxes .box-2 .box-text h3 {
    color: #162120;
}

.ex-boxes .box-2 .box-text p {
    color: #162120DE;
}

.ex-boxes .box-2 .box-text a {
    color: #162120;
}

/* Choose-US */

.choose-us-sec {
    width: 100%;
    padding: 267px 0 219px;
    background-image: url(../images/choose-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.choose-us-sec .ch-cntn {
    max-width: 856px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.choose-us-sec .ch-cntn .title h2 {
    color: #FFFFFF;
}

.choose-us-sec .ch-cntn p {
    color: #FFFFFFDE;
    text-align: center;
}

/* Testimonial */

.testimonials-sec {
    width: 100%;
    padding: 66px 0 80px 0;
    background-image: url(../images/sq-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tst-top-cntn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lft {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 856px;
}

.tst-bottom {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-top: 80px;
    position: relative;
    padding-bottom: 90px;
}

.tst-bottom .bt-box {
    background-color: #8EA7FF;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    max-width: 310px;
}

.tst-bottom .prev {
    background-color: #3D5163;
    margin-bottom: 50px;
}

.tst-bottom .bt-box .box-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tst-bottom .bt-box .box-top h6 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.tst-bottom .bt-box .box-top span {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.tst-bottom .bt-box .box-top span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.tst-bottom .bt-box h2 {
    margin: 40px 0 8px 0;
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.tst-bottom .bt-box h5 {
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.swiper {
    width: 100%;
    max-width: 640px;
    height: 376px;
    position: static !important;
}

.swiper-slide {
    border: 1px solid #0000001F;
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
}

.swiper-slide .rev-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.swiper-slide .rev-box .main-img {
    max-width: 310px;
    height: 376px;
    border-radius: 16px;
    border: 1px solid #0000001F;
    overflow: hidden;
}

.swiper-slide .rev-box .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .rev-box .rev-cntn {
    max-width: 310px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.swiper-slide .rev-box .rev-cntn img {
    width: 88px;
    height: 56px;
}

.swiper-slide .rev-box .rev-cntn .reviewer-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
    width: 64px !important;
    height: 64px !important;
    background-color: #FFFFFF;
    border: 1px solid #2C2C2C1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
    top: auto !important;
}

.swiper-button-prev {
    top: 24px !important;
    left: 245px !important;
}

.swiper-button-next {
    bottom: 0 !important;
    right: 245px !important;
}

/* Plan */

.plan-sec {
    width: 100%;
    padding: 70px 0 114px 0;
    background-image: url(../images/plan-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.plan-cntn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 92px;
}

.plan-cntn .plan-left-cntn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    width: 55%;
}

.plan-cntn .plan-left-cntn .title h2 {
    color: #FFFFFF;
}

.plan-cntn .plan-left-cntn p.disc {
    color: #FFFFFFDE;
}

.plan-cntn .plan-right-cntn {
    margin-top: 139px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* Style the buttons inside the tab */
.tab button {
    position: relative;
    border: 1px solid #fff;
    float: left;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 15px 30px;
    transition: all 0.3s ease-in;
    font-family: "Monospace";
    font-size: 22px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.045em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

/* Create an active/current tablink class */
.tab button.active {
    background: #96BF48;
    color: #FFFFFF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    margin-top: 36px;
    width: 100%;
    padding: 40px;
    background-color: white;
    border: 10px solid #FFFFFF;
    background-image: url(../images/tab-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.tabcontent .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 40px;
    border-bottom: 1px solid #0000001F;
}

.tabcontent .top h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

.tabcontent .top .price span {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 43.2px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

.tabcontent .top h6 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 16.2px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

.tabcontent .bottom ul {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tabcontent .bottom ul li {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.045em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2C2C;
}

.tabcontent .bottom ul li img {
    width: 16px;
    height: 16px;
}

/* Contact */

.contact-sec {
    width: 100%;
    padding: 70px 0 86px 0;
    background-image: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-cntn {
    display: flex;
    justify-content: space-between;
}

.contact-cntn .contact-left-cntn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.before-title h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #96BF48;
    text-align: left;
}

.title h2 {
    font-family: inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    color: #2C2C2C;
    text-align: left;
}

.contact-cntn .contact-left-cntn h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    font-family: Inter;
    text-align: left;
    color: #2C2C2C;
}

.contact-cntn .contact-left-cntn ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

.contact-cntn .contact-left-cntn ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 25.2px;
    color: #2C2C2CDE;
}

.contact-cntn .contact-left-cntn ul li a img {
    width: 20px;
    height: 20px;
}

p.disc {
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #2C2C2CDE;
}

.contact-right-cntn {
    width: 50%;
}

.contact-cntn .contact-right-cntn form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-cntn .contact-right-cntn form .field-column {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.contact-cntn .contact-right-cntn form .field-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.contact-cntn .contact-right-cntn form .field-row label {
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    color: #2C2C2C;
}

.contact-cntn .contact-right-cntn form .field-row input {
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #0000001F;
    border-radius: 6px;
    font-family: inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    color: #2C2C2C80;
}

.contact-cntn .contact-right-cntn form .field-column .field-row textarea {
    height: 80px;
    min-height: 80px;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-family: inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    color: #848484;
    overflow-y: auto;
    resize: vertical;
    max-height: 300px;
}

.contact-cntn .contact-right-cntn form button {
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #2C2C2C;
}

.footer-content {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .left-cntn p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    text-align: left;
}

footer .right-cntn ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

footer .right-cntn ul li a {
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}











@media (max-width: 1024px) {
    .contact-cntn .contact-left-cntn h3 {
        font-size: 22px;
        line-height: 30px;
    }

    p.disc {
        font-size: 16px;
        line-height: 24px;
    }

    .about-md .md-right .site-btn {
        margin-top: 30px;
    }

    .about-bottom .circle-box {
        width: 250px;
        height: 250px;
    }

    .about-bottom .circle-box span img {
        width: 60px;
        height: 60px;
    }

    .about-bottom .circle-box h6 {
        font-size: 18px;
        line-height: 26px;
        max-width: 160px;
    }

    .title h2 {
        font-size: 45px;
    }

    .lft {
        max-width: 700px;
    }

    .site-btn {
        padding: 16px 32px;
        font-size: 16px;
        line-height: 18px;
    }

    .serv-bottom .serv-box h1 {
        font-size: 70px;
        line-height: 86px;
    }

    .serv-bottom .serv-box {
        padding: 30px 40px;
    }

    .box-text p {
        font-size: 16px;
        line-height: 24px;
        padding: 30px 0;
    }

    .box-text {
        padding: 35px 43px 45px 35px;
        max-width: 529px;
    }

    .box-text h3 {
        font-size: 40px;
        line-height: 55px;
    }

    .ex-boxes .box .box-text {
        padding: 35px 25px 40px 35px;
    }

    /* .portfolio-sec {
        margin-bottom: -110px;
    } */

    .choose-us-sec .ch-cntn {
        max-width: 700px;
    }

    .tst-bottom .bt-box {
        max-width: 248px;
    }

    .swiper-button-prev {
        top: 20px !important;
        left: 186px !important;
    }

    .swiper-button-next {
        bottom: 20px !important;
        right: 182px !important;
    }

    .swiper-slide .rev-box .main-img {
        width: 100%;
        height: 335px;
        max-width: 250px;
    }

    .swiper-slide .rev-box .rev-cntn {
        max-width: 222px;
        gap: 30px;
        padding-right: 20px;
    }

    .swiper {
        height: 340px;
        border-radius: 12px;
    }

    .plan-cntn {
        gap: 50px;
    }

    .tab button {
        padding: 14px 28px;
        font-size: 22px;
        line-height: 18px;
    }

    .tabcontent {
        padding: 30px;
    }

    .contact-cntn .contact-left-cntn ul {
        gap: 13px 24px;
        flex-wrap: wrap;
    }

    .contact-cntn .contact-left-cntn ul li a {
        gap: 4px;
    }

    .contact-cntn .contact-right-cntn form .field-column {
        gap: 16px;
    }

    .contact-cntn .contact-right-cntn form {
        gap: 16px;
    }

    .contact-cntn .contact-right-cntn form .field-row {
        gap: 20px;
    }

    .contact-cntn .contact-right-cntn form .field-row label {
        font-size: 16px;
    }

    .contact-cntn .contact-right-cntn form .field-row input {
        font-size: 12px;
    }

    .ex-boxes .box {
        max-width: 320px;
    }

    .box-2 {
        justify-content: space-between;
    }

    .ex-boxes .box-2 .box-text {
        padding: 35px 23px 35px 0;
        max-width: 300px !important;
    }

    .box-text p {
        padding: 30px 0;
        line-height: 23px;
    }

    .box-2 .box-img {
        width: 305px;
    }

    .banner-cntnt h1 {
        font-size: 68px;
        line-height: 84px;
    }

    .banner-cntnt p {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .header-logo a img {
        max-width: 230px;
    }

    .mm-main {
        padding: 40px 40px 30px;
    }

    .mm-c1 h3 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    .mm-c1 ul li a {
        font-size: 20px;
        max-width: 200px;
    }

    .mm-c1 ul {
        gap: 20px;
    }

    .mm-close span {
        font-size: 16px;
    }

    ul.mm-socials {
        gap: 20px;
    }

    ul.mm-socials li a {
        font-size: 18px;
        line-height: 22px;
        gap: 6px;
    }

    ul.mm-socials li a img {
        width: 12px;
        height: 12px;
    }

    .mm-close {
        top: 50px;
        right: 50px;
    }

    .about-sec {
        padding: 120px 0 80px 0;
    }

    .about-md .md-left {
        max-width: 600px;
    }

    .about-md .md-right {
        max-width: 360px;
    }

    .about-md .md-left h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .about-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        /* gap: 20px 20px; */
        max-width: 502px;
        margin: 80px auto 0;
    }

    .about-bottom .circle-box {
        margin: -24px 0 0 -24px;
    }

    .about-bottom .circle-box:nth-child(3) {
        margin-left: 0;
    }

    .services-sec {
        padding: 50px 0 60px 0;
        /* height: max-content; */
    }

    .serv-top-cntn {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .serv-bottom .serv-box {
        padding: 25px 30px;
    }

    .serv-bottom .serv-box h1 {
        font-size: 55px;
        line-height: 87px;
        max-width: 219px;
    }

    .serv-bottom .serv-box span {
        width: 40px;
        height: 40px;
    }

    .serv-bottom .serv-box span img {
        width: 25px;
        height: 25px;
    }

    .serv-bottom .serv-box p {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio-sec {
        padding-top: 60px;
    }

    .portfolio-sec .pf-top {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .portfolio-sec .pf-top .pf-lf {
        width: 100%;
    }

    .ex-boxes .box {
        max-width: 100%;
    }

    .title h2 {
        font-size: 34px;
        line-height: 44px;
    }

    .tst-top-cntn {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .tst-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .tst-bottom .bt-box {
        margin: 0;
        max-width: 310px;
    }

    .swiper {
        width: 100%;
        max-width: 100%;
    }

    .swiper-slide .rev-box .rev-cntn {
        max-width: 100%;
        padding-right: 50px;
    }

    .swiper-button-prev {
        top: 172px !important;
        left: 334px !important;
    }

    .tst-bottom .next {
        margin-left: auto !important;
    }

    .swiper-button-next {
        bottom: 241px !important;
        right: 334px !important;
    }

    .tst-bottom .next {
        margin-left: auto !important;
    }

    .swiper-button-next {
        bottom: 241px !important;
        right: 334px !important;
    }

    .plan-cntn {
        flex-direction: column;
        gap: 40px;
    }

    .plan-cntn .plan-left-cntn {
        width: 100%;
    }

    .plan-cntn .plan-right-cntn {
        width: 100%;
        margin: 0;
    }

    .contact-cntn .contact-right-cntn form .field-column {
        flex-direction: column;
    }

    .contact-cntn {
        gap: 30px;
    }

    .contact-cntn .contact-left-cntn h3 {
        margin-top: 16px;
    }

    .ex-boxes {
        flex-direction: column;
    }

    .ex-boxes .box-1 {
        max-width: 100%;
    }

    .box-text p {
        padding: 20px 0;
    }

    .box-text h3 {
        font-size: 36px;
        line-height: 40px;
    }

    .box-text a {
        gap: 8px;
        font-size: 14px;
        line-height: 19px;
    }

    .box-text {
        padding: 30px 37px 40px 30px;
    }

    .ex-boxes .box .box-text {
        max-width: 100%;
    }

    .ex-boxes .box-2 .box-text {
        padding: 35px 23px 35px 35px;
        max-width: 414px !important;
    }

    .box-2 {
        max-width: 100%;
        gap: 0;
        justify-content: unset;
    }

    .box-2 .box-img {
        width: auto;
        height: 261px;
    }

    .banner-sec {
        padding: 140px 0 200px;
    }

    .banner-cntnt>img {
        max-width: 345px;
    }

    .banner-cntnt h1 {
        font-size: 51px;
        line-height: 61px;
    }

    .banner-cntnt p {
        font-size: 16px;
        line-height: 21px;
    }

    .contact-right-cntn {
        width: 55%;
    }
}

@media (max-width: 435px) {
    .site-head {
        padding: 21px 0;
    }

    .header-logo a {
        margin: 0;
    }

    .header-logo a img {
        max-width: 180px;
    }

    .mm-c1 h3 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    .mm-c1 ul {
        gap: 16px;
    }

    .mm-c1 ul li a {
        font-size: 18px;
    }

    ul.mm-socials li a {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        /* gap: 6px; */
    }

    ul.mm-socials li a img {
        width: 10px;
        height: 10px;
    }

    .mm-close {
        top: 40px;
        right: 40px;
    }

    .header-row {
        gap: 0;
        grid-template-columns: 0px 200px 1fr;
    }

    .header-toggle button {
        margin-left: auto;
    }

    .header-data p,
    .header-data a {
        display: none;
    }

    .container {
        padding: 0 20px;
    }

    .about-sec {
        padding: 80px 0 50px 0;
        background-image: url(../images/sq-pattern-mb-about-bg.png);
    }

    .about-md {
        flex-direction: column;
        gap: 40px;
    }

    .about-md .md-left h1 {
        font-size: 24px;
    }

    p.disc {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    .about-md .md-right .site-btn {
        margin-top: 40px;
    }

    .about-bottom {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        /* margin: 0 auto; */
    }

    .about-bottom .circle-box:first-child {
        margin: 0 auto;
    }

    .about-bottom .circle-box {
        margin-left: 0;
        width: 280px;
        height: 280px;
        margin: -24px auto 0 auto;
        /* margin-left: 0; */
    }

    .about-bottom .circle-box:nth-child(3) {
        margin-left: auto;
    }

    .about-bottom .circle-box span img {
        width: 80px;
        height: 80px;
    }

    .about-bottom .circle-box h6 {
        font-size: 20px;
        max-width: 170px;
    }

    .services-sec {
        padding: 40px 0;
        background-image: url(../images/service-mb-bg.png);
    }

    .site-btn {
        padding: 12px 24px;
        font-size: 14px;
        font-weight: bold;
    }

    .serv-bottom {
        margin-top: 48px;
    }

    .serv-bottom .serv-box {
        flex-direction: column;
        align-items: flex-start;
        padding: 4px 16px;
        gap: 8px;
        margin: 0;
        border-radius: 6px;
    }

    .serv-top-cntn .title h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .choose-us-sec .ch-cntn .title h2 {
        text-align: center;
    }

    .title h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .serv-bottom .serv-box h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 40px;
        max-width: 100%;
    }

    .serv-bottom .serv-box p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        max-width: 100%;
    }

    .serv-bottom .serv-box span {
        width: 32px;
        height: 32px;
    }

    .serv-bottom .serv-box span img {
        width: 16px;
        height: 16px;
    }

    .portfolio-sec {
        padding-top: 40px;
        background-image: url(../images/sq-pattern-mb-bg.png);
    }

    .choose-us-sec {
        padding: 247px 0 205px 0;
        background-image: url(../images/choose-us-mb-bg.png);
    }

    .testimonials-sec {
        padding: 40px 0;
        background-image: url(../images/sq-pattern-mb-bg.png);
    }

    .tst-bottom {
        margin-top: 40px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 32px !important;
        height: 32px !important;
    }

    .swiper-button-prev {
        top: calc(50% - 32px) !important;
        left: 0 !important;
    }

    .swiper-button-next {
        top: calc(50% - 32px) !important;
        right: 0 !important;
    }
    .swiper-slide{
        display: flex !important;
        align-items: center;
    }
    .swiper-slide .rev-box .main-img {
        max-width: 200px;
        height: 100%;
        border-radius: 10px;
    }

    .swiper-slide .rev-box .rev-cntn {
        max-width: 140px;
        padding-right: 15px;
        gap: 8px;
    }

    .swiper-slide .rev-box {
        gap: 15px;
        align-items: center;
    }

    .swiper-slide .rev-box .rev-cntn img {
        width: 41px;
        height: 25px;
    }

    p.disc {
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
    }

    .swiper {
        height: 214px;
    }

    .swiper-slide .rev-box .rev-cntn .reviewer-name {
        font-size: 14px;
        line-height: 22px;
    }

    .tst-bottom .bt-box {
        max-width: 300px;
        border-radius: 10px;
    }

    .tst-bottom .bt-box .box-top span {
        width: 50px;
        height: 50px;
    }

    .tst-bottom .bt-box .box-top h6 {
        font-size: 16px;
        line-height: 24px;
    }

    .tst-bottom .bt-box h2 {
        margin: 25px 0 5px 0;
        font-size: 20px;
        line-height: 28px;
    }

    .tst-bottom .bt-box h5 {
        font-size: 10px;
        line-height: 16px;
    }

    .swiper-button-next img,
    .swiper-button-prev img {
        width: 16px;
        height: 16px;
    }

    .plan-sec {
        padding: 40px 0;
        background-image: url(../images/plan-mobile-bg.png);
    }

    .tab {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        gap: 6px;
        justify-content: unset;
    }

    .tab::-webkit-scrollbar {
        display: none;
    }

    .tab button {
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
    }

    .tabcontent {
        padding: 10px 16px 10px 13px;
        margin-top: 40px;
    }

    .tabcontent .top h4 {
        font-size: 14px;
    }

    .tabcontent .top .price span {
        font-size: 30px;
    }

    .tabcontent .top h6 {
        font-size: 12px;
    }

    .tabcontent .top {
        padding-bottom: 25px;
        gap: 15px;
    }

    .tabcontent .bottom ul {
        padding-top: 25px;
        gap: 15px;
    }

    .tabcontent .bottom ul li {
        gap: 10px;
        font-size: 12px;
    }

    .tabcontent .bottom ul li img {
        width: 10px;
        height: 10px;
    }

    .contact-sec {
        padding: 40px 0;
        background-image: url(../images/sq-pattern-mb-bg.png);
    }

    .contact-cntn .contact-left-cntn {
        gap: 40px;
    }

    .contact-cntn .contact-left-cntn h3 {
        margin: 0 0 -24px 0;
        font-size: 16px;
    }

    .contact-cntn .contact-left-cntn ul li a img {
        width: 16px;
        height: 16px;
    }

    .contact-cntn .contact-left-cntn ul {
        gap: 8.65px;
    }

    .contact-cntn {
        gap: 40px;
        flex-direction: column;
    }
    .contact-cntn .contact-right-cntn{
        width: 100%;
    }
    .contact-cntn .contact-right-cntn form .field-column {
        flex-direction: column;
        gap: 16px;
    }

    .contact-cntn .contact-right-cntn form .field-row {
        gap: 16px;
    }

    .contact-cntn .contact-left-cntn h3 {
        font-size: 16px;
        font-weight: 500;
    }

    .contact-cntn .contact-right-cntn form {
        gap: 16px;
    }

    .contact-cntn .contact-right-cntn form button {
        padding: 20px 24px;
        font-size: 16px;
    }

    .footer-content {
        padding: 22px 0;
        gap: 4px;
        flex-direction: column;
    }

    footer .left-cntn p {
        font-size: 10px;
        line-height: 18px;
    }

    footer .right-cntn ul {
        gap: 16px;
    }

    footer .right-cntn ul li a {
        font-size: 12px;
        line-height: 16px;
    }

    .box-2 {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .box-text {
        padding: 20px 15px 20px 20px;
    }

    .box-text p {
        padding: 40px 0;
        font-size: 18px;
    }

    .box-text h3 {
        font-size: 44px;
    }

    .box-2 .box-img {
        width: 100%;
        height: 100%;
    }

    .box-2 .box-img img {
        display: block;
        height: auto;
    }

    .box-2 {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .portfolio-sec .pf-bottom .pf-bottom-box {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .portfolio-sec .pf-bottom .pf-bottom-box::after {
        aspect-ratio: 444/300;
        background-size: 110%;
        background-position: center;
    }

    .mm-main {
        background-image: url(../images/sq-pattern-mb.png);
    }

    .mm-main {
        padding: 20px 20px 15px;
    }

    .banner-sec {
        padding: 120px 0 140px;
    }

    .banner-sec::before {
        left: -2%;
        top: 6px;
    }

    .banner-cntnt h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .banner-cntnt>img {
        max-width: 295px;
    }

    .banner-cntnt p {
        font-size: 14px;
        line-height: 21px;
    }


}